body {
    height: fit-content;
    background: #05051f;
background: linear-gradient(0deg,rgb(83, 0, 116) 0%, rgb(211, 172, 0) 34%, rgb(116, 116, 116) 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@font-face {
  font-family: 'retroFont'; /* Name your font family */
  src: url('./Adobe\ Dia.ttf'); /* Locate the .ttf file within your directory*/
}

#spinningLines{
    z-index: -1;
    margin-top: 10vh;
    width: min(80vh, 80vw);
        height: min(80vh, 80vw);
        position:absolute;
        bottom: -150vh;
}

.rotate {
  animation: rotation 100s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.rotate2 {
  animation: rotation2 110s infinite linear;
}

@keyframes rotation2 {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#titleDiv{
   margin-bottom: 20vh;
   margin-top: 20vh;
   text-align: center;
}

div{
margin-bottom: 2vh;
}

#textLines{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: calc(20vw - 60px);
    margin-right: calc(20vw - 60px);
}

*{
       font-family: 'retroFont';
  font-size: clamp(1.8rem, 4vh, 4rem);
    color: rgb(255, 248, 236);
    text-shadow: 0px 0 0 #000, 0 -0px 0 #000, 0 0px 0 #000, -0px 0 0 #000;
user-select: none;
  }

.line{
  align-self: flex-start;
}

button{
  border: 3px solid rgb(63, 56, 56);
  background-color: grey;
  box-shadow: 3px 4px 0px black;
}

button:hover{
  background-color: rgb(104, 104, 104);
}

button:active{
  box-shadow: inset 3px 4px 0px  black;
}

